.push {
    cursor: pointer;
    display: inline-block;
    color: white;
    font-weight: bold;
    padding: 10px;
}

.btn_green {
    background-color: green;
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-left: 100px;
    margin-right: 100px;
}

.btn_red {
    background-color: red;
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-left: 100px;
    margin-right: 100px;
}

.btn_white {
    border: 1px solid;
    color: black;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-left: 100px;
    margin-right: 100px;
}

#paging {
    bottom: 70px;
    width: 800px;
    text-align: center;
    padding: 10px;
}

#footer {
    bottom: 0;
    max-width: 800px;
    background-color: #b28cb2;
    color: white;
    text-align: center;
    padding: 10px;
}


#footer_home {
    bottom: 0;
    max-width: 800px;
    background-color: #b28cb2;
    color: white;
    text-align: center;
    padding: 10px;
}

.menu {
    min-height: 100vh;
    max-width: 800px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}

.home {
    min-height: 100vh;
    max-width: 500px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}

.head {
    text-align: center;
    vertical-align: top;
}

.logid {
    width: 120px;
    text-align: right;

}

.name {
    width: 120px;
    text-align: center;
}

.rule_num {
    width: 50px;
    text-align: center;
}

.num {
    width: 70px;
    text-align: center;
}

.time {
    width: 70px;
    text-align: center;
}

.time_full {
    width: 90px;
    text-align: center;
}

.date {
    width: 120px;
    text-align: center;
}

.str {
    width: 100px;
    text-align: center;
}

.int {
    width: 10px;
    text-align: right;
}

.money_h {
    width: 70px;
    text-align: right;
}

.money_y {
    width: 120px;
    text-align: right;
}


.def {
    width: 130px;
    text-align: center;
}